.seccion {
    display: none;
    padding: 40px;
    transition: all 0.3s ease;
}

.seccion.activa {
    display: block;
}

body.inicio {
    background-color: #111;
}

body.proyectos {
    background-color: #1a0033;
}

body.contacto {
    background-color: #002b36;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
}
